@import url('https://fonts.googleapis.com/css2?family=Merienda&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,wght@1,600&family=Merienda&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,wght@1,600&family=Merienda&family=Noto+Serif+Ethiopic&display=swap');



/*******************************Header style*************************************/

 .navbar-border{
    background-image: radial-gradient(circle, rgba(190, 223, 193, 0) 3%,rgba(190, 223, 193,100) );
    height:80px;
    width: 430px;
  }

  .navbar-container{
    width:430px;
  }
  
 .brand{
    width:430px;
    margin:0;
    height:70px;
    display:flex;
    justify-content: center;
    align-items: center;
  }
  
  .logo-style{
    width:80px;
    height:60px;
    border-radius: 10px;
    align-items: center;  
  }

  
/****************************Icons Style****************************/

.icons-container{
    margin-top: 30px;
    margin-left: 15px;
    display:flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 400px;
  }

.icons{
   text-align: center;
}

.icon-img{
    width: 80px;
    height: 50px;
    border-radius: 10px;
    box-shadow: 1px 1px 6px rgb(52, 43, 43);
}


/*********************************SearchBar style***********************************/

.search-bar-position{
   width:400px;
}

.search-bar{
    margin-top: 40px;
}

/*****************************Gategories Style*****************************/

.body-container{
   width: 400px;
   margin-top: 30px;
}

.flex-container{
    width: 100%;
    display:flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 15px;
}

.category-link{
    text-decoration: none;
    color:black;
}

.card-style{
    width: 150px;
    height:150px;
    margin: 15px;
    border-radius: 50px 50px 20px 20px;
    box-shadow: 2px 2px 5px  rgb(52, 43, 43);
}

.card-style:hover{
    box-shadow: 2px 2px 8px 1px rgb(71, 84, 82);
    opacity: 0.9;
    transform: scale(1.05);
}

.card-image{
    width:100px;
    height:80px;
    margin: 10px 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.card-body{
    background-color:rgba(153, 217, 159, 0.6);
    height:50px;
    border-radius: 0 0 20px 20px;
}

.card-title{
   font-size: 14px;
   font-weight: bold;
   text-align: center;
}

.button-position{
display: flex;
justify-content: center;
}

.om-oss-button{
 color:#194540;
 background-color: #EAF4ED;
 border: 0px;
 text-decoration: underline;
 margin-bottom: 15px;
 font-size: 25px;
 font-weight: 500;
 font-family: 'Fraunces', serif;
 font-family: 'Merienda', cursive;
 font-family: 'Noto Serif Ethiopic', serif;
}

/*******************************Products Style*********************************/

.products-container{
    width: 100%;
    height:160px;
    display:flex;
    flex-wrap: row;
    background-color: white;
    border-radius: 10px;
    margin-bottom: 20px;
    box-shadow: 2px 2px 5px  rgb(52, 43, 43);
}

.products-container:hover{
    box-shadow: 2px 2px 8px 1px rgb(71, 84, 82);
    opacity: 0.9;
    transform: scale(1.05);
}

.left-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex:50%;   
}

        .product-image{
            height: 70px;
            width: 12git0px;
        }

        .product-name{
            font-weight: bold;
            font-size: 16px;
        }

        .product-expiration{
            font-size: 14px;
            font-weight: 500;
            color:rgb(184, 98, 141);
        }

        .product-price{
            display:flex;
            justify-content: space-between;
        }

                .product-old-price{
                    font-size: 15px;
                    color: dimgrey;
                    text-decoration: line-through;
                    margin-right: 10px;
                }
                
                .product-new-price{
                    font-weight: bold;
                    font-size: 15px;
                }




.right-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex:50%;
}

        .product-icon{
            height: 70px;
            width: 120px;
            margin-bottom: 10px;
        }

        .product-adress{
            background-color:white;
            color:blue;
            border: 0;
            padding: 0;
            font-size: 16px;
        }

        .product-city{
            margin-top: 10px;;
        }


.link-box{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
}

.link-button{
    background-color: white;
    border-color: white;
    color:  #0d6efd;
    font-size: 30px;
}

.image-style{
    height: 200px;
    width:376px;
    margin-top: 5px;
    margin-bottom: 15px;
    border-radius: 10px;
    opacity: 1;
}
/*************************************Modal-style*************************************/

.modal-style{
    max-width: 400px;
    margin-top: 70px;
    margin-bottom: 50px;
    margin-left: 15px;
    margin-right: 15px;
}

.modal-footer{
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
}

        .shop-name-adress{
            font-size: 20px;
            font-weight: bold;
            margin-right: 10px;
        }
        .modal-footer > div {
            font-size: 19px;
        }

        .modal-footer > div > span{
            margin-left: 10px;
            font-weight: 500;
            color: rgb(29, 71, 29);
        }

/*********************************Map-Style****************************************/
.map-style{
    width: 326px;
    height: 500px;
}


/********************************WrongInput Style***************************************/

.wrong-word-message{
    font-size: 25px;
    text-align: center;
    margin-bottom: 20px;
}

.searched-word{
    font-size: 25px;
    font-weight: bold;
    text-align: center;
}

/*******************************ShopLinkWindow*********************************/
.shop-link-window{
    height: 930px;
    width:430px;
}

/*******************************Carosel Style**********************************/

.carosel-style{
    margin-top: 12px;
    margin-bottom: 30px;
    border-radius: 20px;
}

.carousel-inner{
    border-radius: 20px;
}

/********************************************Video Style*************************/
.video{
height:230px ;
width:350px ;
border: 360 solid rgb(47, 47, 47);
}

 /** this div is located in Categories file **/
.video-position{ 
    display: flex;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

/************************************About Us Style****************************/

.about-us{
    margin:30px;
    width:370px;
    display: flex;
    flex-wrap: wrap;
    font-family: 'Fraunces', serif;
    font-family: 'Merienda', cursive;
    font-family: 'Noto Serif Ethiopic', serif;
    font-weight:600;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
}

.about-us-header{
    display: flex;
    width:400px;
    justify-content:space-between;
    margin-top: 20px;
    margin-bottom: 40px;
}

.paragraph{
    margin-bottom: 35px;
}

.header-text{
    color: #194540;
    font-size:25px ;
    font-weight:bold;
    font-family: 'Fraunces', serif;
    font-family: 'Merienda', cursive;
    padding-top: 30px;
}

.header-text > sup{
    font-size:35px;
    margin-right:10px;
}

.tree-image-style{
    height: 80px;
    width: 110px;
}



/**************************Responsive************************************/
@media only screen and (max-width: 428px) {

    .navbar-border{
        width:428px;
    }

    .navbar-container{
        width:428px;
      }

    .brand{
        width:428px;
    }

    .icons-container{
        margin-left: 14px;
    }    

    .search-bar-position{
        margin-left: 14px;
     }
     
}

/*****************************************************/
@media only screen and (max-width: 414px) {

    .navbar-border{
        width:414px;
    }

    .navbar-container{
        width:414px;
      }

    .brand{
        width:414px;
    }

    .icons-container{
        margin-left: 7px;
    }   

    .search-bar-position{
        margin-left: 7px;
     }
    
    
}

/***********************************************************/
@media only screen and (max-width: 412px) {

    .navbar-border{
        width:412px;
    }

    .navbar-container{
        width:412px;
      }

    .brand{
        width:412px;
    }

    .icons-container{
        margin-left: 6px;
    }   

    .search-bar-position{
        margin-left: 6px;
     }
    
}

/***********************************************************/
@media only screen and (max-width: 393px) {

    .navbar-border{
        width:393px;
    }

    .navbar-container{
        width:393px;
      }

    .brand{
        width:393px;
    }

    .icons-container{
        margin-left: 6px;
        width: 380px;
    }    

    .icon-img{
        width: 70px;
        height: 45px;
    }

    .search-bar-position{
        width:380px;    
     }
    
}

/***********************************************************/
@media only screen and (max-width: 390px) {

    .navbar-border{
        width:390px;
    }

    .navbar-container{
        width:390px;
      }

    .brand{
        width:390px;
    }

    .icons-container{
        margin-left: 5px;
        width: 380px;
    }    

    .icon-img{
        width: 70px;
        height: 45px;
    }
    
}

/***********************************************************/
@media only screen and (max-width: 375px) {

    .navbar-border{
        width:375px;
    }

    .navbar-container{
        width:375px;
      }

    .brand{
        width:375px;
    }

    .icons-container{
        width: 375px;
        margin-left: 0;
    }
    
    .icons{
        flex:50%;
        padding-bottom: 30px;
     } 
     
     .icon-img{
        width: 100px;
        height: 60px;
    }
  
    .search-bar-position{
        width:362px;
    }

    .search-bar{
        margin-top: 10px;
    }
}

/***********************************************************/
@media only screen and (max-width: 360px) {

    .navbar-border{
        width:360px;
    }

    .navbar-container{
        width:360px;
      }

    .brand{
        width:360px;
    }

    .icons-container{
        width: 360px;
        margin-left: 0;
    }
    
    .icons{
        flex:50%;
        padding-bottom: 25px;
     } 
     
     .icon-img{
        width: 100px;
        height: px;
    }

    .search-bar-position{
        width:348px;
    }

    .search-bar{
        margin-top: 10px;
    }

}

/***********************************************************/
@media only screen and (max-width: 320px) {

    .navbar-border{
        width:320px;
    }

    .navbar-container{
        width:320px;
      }

    .brand{
        width:320px;
    }

    .icons-container{
        width: 320px;
        margin-left: 0;
        flex-direction: column;
    }
    
    .icons{
       padding-bottom: 20px;
     } 
     
     .icon-img{
        width: 130px;
        height: 70px;
    }

    .search-bar-position{
        width:307px;
    }

    .search-bar{
        margin-top: 10px;
    }

    .placeholder-text{
        font-size: 16px;
    }

    .search-bar-col{
       padding: 0px;
    }


}

/***********************************************************/
@media only screen and (max-width: 280px) {

    .navbar-border{
        width:280px;
    }

    .navbar-container{
        width:280px;
      }

    .brand{
        width:280px;
    }

    .icons-container{
        width: 280px;
        margin-left: 0;
        flex-direction: column;
    }
    
    .icons{
       padding-bottom: 20px;
     } 
     
     .icon-img{
        width: 150px;
        height: 80px;
    }

    .search-bar-position{
        width:250px;
        margin-left: 15px;
    }

    .search-bar{
        margin-top: 10px;
    }

    .placeholder-text{
        font-size: 15px;
    }

    .search-bar-col{
        padding: 0;
        width: 100%;
    }

}