
/***************************Header style*************************************/

 .navbar-border{
    background-image: radial-gradient(circle, rgba(190, 223, 193, 0) 3%,rgba(190, 223, 193,100) );
    height:80px;
  }
  
 .brand{
    margin-left: 15px;
    margin-bottom: 0px;
    margin-top: 0px;
    height:70px;
    width:430px;
    display:flex;
    justify-content: center;
    align-items: center;
  }
  
  .logo-style{
    width:80px;
    height:60px;
    border-radius: 10px;
    align-items: center;  
  }

  
/********************Icons Style**************************/

.icons-container{
    display:flex;
    flex-direction: row;
    justify-content: center;
    width: 400px;
}

.icons{
    margin-top: 30px;
    margin-left: 20px;

}

.icon-img{
    width: 80px;
    height: 50px;
    border-radius: 10px;
    box-shadow: 1px 1px 6px rgb(52, 43, 43);
}


/*****************************Gategories Style*****************************/

.body-container{
   width: 400px;
   margin-top: 30px;
}

.flex-container{
    width: 100%;
    display:flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.category-link{
    text-decoration: none;
    color:black;
}

.card-style{
    width: 150px;
    height:150px;
    margin: 15px;
    border-radius: 50px 50px 20px 20px;
    box-shadow: 2px 2px 5px  rgb(52, 43, 43);
}

.card-style:hover{
    box-shadow: 2px 2px 8px 1px rgb(71, 84, 82);
    opacity: 0.9;
    transform: scale(1.05);
}

.card-image{
    width:100px;
    height:80px;
    margin: 10px 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.card-body{
    background-color:rgba(153, 217, 159, 0.6);
    height:50px;
    border-radius: 0 0 20px 20px;
}

.card-title{
   font-size: 14px;
   font-weight: bold;
   text-align: center;
}
/*******************************Products Style*********************************/

.products-container{
    width: 100%;
    height:160px;
    display:flex;
    flex-wrap: row;
    background-color: white;
    border-radius: 10px;
    margin-bottom: 20px;
    box-shadow: 2px 2px 5px  rgb(52, 43, 43);
}

.products-container:hover{
    box-shadow: 2px 2px 8px 1px rgb(71, 84, 82);
    opacity: 0.9;
    transform: scale(1.05);
}

.left-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex:50%;   
}

        .product-image{
            height: 70px;
            width: 12git0px;
        }

        .product-name{
            font-weight: bold;
            font-size: 16px;
        }

        .product-expiration{
            font-size: 14px;
            font-weight: 500;
            color:rgb(184, 98, 141);
        }

        .product-price{
            display:flex;
            justify-content: space-between;
        }

                .product-old-price{
                    font-size: 15px;
                    color: dimgrey;
                    text-decoration: line-through;
                    margin-right: 10px;
                }
                
                .product-new-price{
                    font-weight: bold;
                    font-size: 15px;
                }




.right-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex:50%;
}

        .product-icon{
            height: 70px;
            width: 120px;
            margin-bottom: 10px;
        }

        .product-adress{
            background-color:white;
            color:blue;
            border: 0;
            padding: 0;
            font-size: 16px;
        }

        .product-city{
            margin-top: 10px;;
        }


.link-box{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
}

.link-button{
    background-color: white;
    border-color: white;
    color:  #0d6efd;
    font-size: 30px;
}
/*******************************************Modal-style*************************************/

.modal-style{
    max-width: 400px;
    margin-top: 70px;
    margin-bottom: 50px;
    margin-left: 15px;
    margin-right: 15px;
}

.modal-footer{
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
}

        .shop-name-adress{
            font-size: 20px;
            font-weight: bold;
            margin-right: 10px;
        }
        .modal-footer > div {
            font-size: 19px;
        }

        .modal-footer > div > span{
            margin-left: 10px;
            font-weight: 500;
            color: rgb(29, 71, 29);
        }

/***********************************************Map-Style****************************************/
.map-style{
    width: 326px;
    height: 500px;
}

/**********************************************SearchBar style***********************************/

.search-bar{
    margin-top: 30px;
}

/***********************************************wrongInput***************************************/

.wrong-word-message{
    font-size: 25px;
    text-align: center;
    margin-bottom: 20px;
}

.searched-word{
    font-size: 25px;
    font-weight: bold;
    text-align: center;
}

/*******************************ShopLinkWindow******************************/

.shop-link-window{
    height: 930px;
    width:430px;
}