/***************************Navbar style*************************************/
.navbar-border{
    background-image: radial-gradient(circle, rgba(190, 223, 193, 0) 3%,rgba(190, 223, 193,100) );
    height:80px;
  }
  
  .brand{
  margin-left: 15px;
  margin-bottom: 0px;
  margin-top: 0px;
  height:70px;
  width:430px;
  display:flex;
    justify-content: center;
    align-items: center;
  }
  
  .logo-style{
    width:80px;
    height:60px;
    border-radius: 10px;
    align-items: center;  
  }
  






/********************Icons Style**************************/
.icons-container{
display:flex;
flex-direction: row;
justify-content: center;
width: 400px;
}

.icons{
    margin-top: 30px;
    margin-left: 20px;

}

.icon-img{
    width: 80px;
    height: 50px;
    border-radius: 10px;
box-shadow: 1px 1px 6px rgb(52, 43, 43);
}

/*****************************Body style (Gategories)*****************************/
.body-container{
   width: 400px;
   margin-top: 30px;
}

.flex-container{
    width: 100%;
    display:flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.category-link{
    text-decoration: none;
    color:black;
}

.card-style{
    width: 150px;
    height:150px;
    margin: 15px;
    border-radius: 50px 50px 20px 20px;
    box-shadow: 2px 2px 5px  rgb(52, 43, 43);
}

.card-style:hover{
    box-shadow: 2px 2px 8px 1px rgb(71, 84, 82);
}

.card-image{
    width:100px;
    height:80px;
    margin: 10px 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.card-body{
    background-color:rgba(153, 217, 159, 0.6);
    height:50px;
    border-radius: 0 0 20px 20px;
}

.card-title{
   font-size: 14px;
   font-weight: bold;
   text-align: center;
}

