/********************App begin wih the width 430 for the iphone 14 pro max*************************/
.App{
  width:430px;
}


/********************App with 428 for iphone 14 plus, iphone 13 pro max*************************/
@media only screen and (max-width: 428px) {

  .App{
      width:428px;
  }
}


/********************App with 414 for iphone 6/7/8 plus, iphone XR ***************************/
@media only screen and (max-width: 414px) {

  .App{
      width:414px;
  }
}


/********************App with 412 for Samsung Galaxy A5, Galaxy S20 ultra ********************/
@media only screen and (max-width: 412px) {

  .App{
      width:412px;
  }
}


/********************App with 393 for iphone 14 pro, Pixel 5*************************/
@media only screen and (max-width: 393px) {

  .App{
      width:393px;
  }
}


/********************App with 390 for iphone 14, 13, 13 Pro, 12 Pro *************************/
@media only screen and (max-width: 390px) {

  .App{
      width:390px;
  }
}


/*********************App with 375 for iphone 13 mini, iphone 6/7/8************************/
@media only screen and (max-width: 375px) {

  .App{
      width:375px;
  }
}


/**********************App with 360 for Andriod large and small such as(Galaxy S5,S8)***********************/
@media only screen and (max-width: 360px) {

  .App{
      width:360px;
  }
}


/**********************App with 320 for iphone 5/SE***********************/
@media only screen and (max-width: 320px) {

  .App{
      width:320px;
  }
}


/**********************App with 280 for Galaxy Fold***********************/
@media only screen and (max-width: 280px) {

  .App{
      width:280px;
  }
}